<h1><%=@user.email%></h1>


<p>
<% @user.contacts.each do |c| %>
      
    <%= c.name %> 
	<%= c.email%> 
    <%= c.phone %> 
	<% if c.importance==true %>
	<%= image_tag("star.png", :width => 25, :height => 25) %> 
	<% end %>
	<%= link_to 'Edit', edit_user_contact_path(@user, c) %> 
    <%= link_to 'Delete', user_contact_path(@user, c), method: :delete, data: { confirm: 'Are you sure?' }   %> <br>
	
<% end %>
</p>

<%= link_to 'New contact', new_user_contact_path(@user) %>
