
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-4 text-center">
		</div>
  
		<div class="col-xs-4 text-center">
			<div class="contact">
<%= form_for [:user,@contact] do |f|%>
</br>
<p> <%= f.label :name %>
    <%= f.text_field :name %></p>
<p> <%= f.label :email %>
    <%= f.email_field :email %></p>
<p> <%= f.label :phone %>
    <%= f.text_field :phone %></p>
<p> <%= f.label :importance, "VIP" %>
    <%= f.check_box :importance %>
<p> <%= f.label :group %>
    <%= f.select :group, options_for_select(@groups) %>
<p>	<%= f.submit 'Submit', class:'btn btn-default'%>
	<button class="btn btn-default" type="submit"><%= link_to "Cancel", user_path(:user) %></button>
	<%end%>
</p>

			</div>
		</div>
	
		<div class="col-xs-4 text-center">
		</div>
	</div>
 </div>


